.subtitle-timeline-wrap {
  width: calc(100vw - 250px);
  height: 100vh;
  position: fixed;
  left: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(223, 225, 219);
  background: linear-gradient(
    90deg,
    rgba(223, 225, 219, 1) 0%,
    rgba(214, 210, 246, 1) 75%
  );
}

.subtitle-timeline {
  background: linear-gradient(to bottom, #6a4cfc, #9a77f9);
  border: 1px solid #e0e0e0;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 4px;
  width: 420px;
  height: 300px;
  color: white;
}
.subtitle {
  position: absolute;
  bottom: 10%;
  width: 80%;
  text-align: center;
  text-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
}
.playback-controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
  cursor: pointer;
  top: 70%;
}

@keyframes dance {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(10px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.subtitle.animate {
  animation: dance 0.3s ease-in-out infinite;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  left: 10%;
  text-wrap: wrap;
}
